<title>Gallery</title>
<h1>The many faces of Sir Happy</h1>
<ul class="small-block-grid-2">
  <li><%= image_tag "photo3.jpg"%></li>
  <li><%= image_tag "photo2.jpg"%></li>
  <li><%= image_tag "photo4.jpg"%></li>
  <li><%= image_tag "photo1.jpg"%></li>
  <li><%= image_tag "photo5.jpg"%></li>
</ul>