<marquee><h3> Items </h3></marquee>

<% @items.each do |x| %>
	<%=x.desc%> <%=x.name%><br>
<% end %>
<script>
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    itemwidth: 100,
    smoothHeight: true
  });
});
</script>
<center><div class="flexslider" style="width: 500px; height: 300px;">
  <ul class="slides">
    <li>
      <%= image_tag "photo1.jpg", :style => "width: 250px; height: 300px" %>
    </li>
    <li>
      <%= image_tag "slide2.jpg", :style => "height: 300px" %>
    </li>
    <li>
      <%= image_tag "slide3.jpg", :style => "height: 300px" %>
    </li>
  </ul>
</div></center>