<!DOCTYPE html>
<html>
<head>
  <title>Happwet</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
	<%= link_to "GALLERY", gallery_path %>
	<%= link_to "ABOUT", about_path %>	
	<%= link_to "HOME", root_path %> 
</div>

<%= yield %>

<div id="footer">
	Lingcon, Osano, Patolot, Santos, E. <br>
	RoR Class
</div>

</body>
</html>
